#playerInfoPanel{
    margin: 12px;
    
}

#playerDataTable input, #playerDataTable select {
    width: 100%; /* Input/select elements take full width */
    height: 100%; /* Input/select elements take full height */
    padding: 0; /* Remove default padding */
    border: none; /* Remove input/select borders */
    text-align: center; /* Center text inside input/select elements */
    font-family: Arial, sans-serif; /* Match existing font family */
    box-sizing: border-box; /* Ensure padding is included in width/height */
}

#playerDataTable tr:nth-child(odd) input, #playerDataTable tr:nth-child(odd) select {
    background-color:  #534d63; /* Light background color for odd rows */
    color:  #c1bccf; /* Dark text color for contrast */
    font-weight: bold;
}

#playerDataTable tr:nth-child(even) input, #playerDataTable tr:nth-child(even) select {
    background-color: #423f4b; /* Dark background color for even rows */
    color: #b6b3be; /* Light text color for contrast */
    font-weight: bold;
}

/* Keep the row background colors the same */
#playerDataTable tr:nth-child(odd) {
    background-color:  #534d63; /* Light background color for odd rows */
    color:  #c1bccf; /* Dark text color for contrast */
    font-weight: bold;
}

#playerDataTable tr:nth-child(even) {
    background-color: #423f4b; /* Dark background color for even rows */
    color: #b6b3be; /* Light text color for contrast */
    font-weight: bold;
}

#playerDataTable tr:hover {
    background-color: #b6b398; /* Highlight row on hover */
    color: #58574b; /* Change text color on hover for better contrast */
}

#playerDataTable {
    border-collapse: collapse; /* Merge borders */
    width: 100%; /* Table occupies full width of its container */
    table-layout: fixed; /* Uniform column widths */
    box-sizing: border-box; /* Ensure padding is included in width/height */
}
